.chat-parent {
    margin: 0 8%;
    height: 85vh;
}
.div-row {
    display: flex;
    flex-direction: row;
    height: 70%;
    border: 1px solid gray;
    border-radius: 10px;
}
.chat-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px 20px;
}
.user-list {
}
.form {
    margin-top: 15px;
}
.send-btn {
    margin-top: 5px;
}

.msg {
    padding: 3px 6px;
    border-radius: 20px;
    background-color: #009FFF;
}

.name {
    color: gray;
}

.myMsg {
    color: white;
    margin-left: auto;
    margin-top: 5px;
}

.userMsg {
    color: white;
    margin-right: auto;
    margin-top: 5px;
}

.graymsg {
    background-color: gray;
    padding: 3px 6px;
    border-radius: 20px;
}

img {
    border-radius: 50%;
}
